.inputContainer {
    width: 320px;
    margin-bottom: 20px;
    background: white;
    border-radius: 10px;

     .inputContent  {
        width: 280px;
        height: 50px;
        margin: 10px;
        padding-left: 10px;
        border-radius: 7px;
        border: 0.5px solid rgba(128, 128, 128, 0.4);
        font-size: 16px;

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
    }

    .errorText {
        color: red;
        font-size: 12px;
        margin-top: 4px;
      }
}