.sortingContainer {
    position: relative; 
    width: 320px;
    margin-bottom: 20px;

    .buttonContainer {
        display: flex;
        border: none;
        border-radius: 5px;
        padding: 10px;
        
        &:hover {
            background-color: white;
        }
        .buttonText {
            margin: 0;
            padding-right: 5px;
            font-size: 13px;
        }
        .buttonImg {
            width: 20px;
            height: 20px;
            align-self: center;
        }
    }

    .dropdownMenu {
        position: absolute;
        top: 100%;
        left: 0;
        width: 200px;
        background-color: rgb(240, 240, 240);
        border: 1px solid #ccc;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        z-index: 10;
    }
    
    .dropdownMenu button {
        display: block;
        width: 100%;
        padding: 8px;
        background-color: transparent;
        border: none;
        text-align: left;
        cursor: pointer;

        &:hover {
            background-color: white;
        }
    }
}

